/* base rule  */
*{
    margin: 0;
    padding: 0;
    font-family: gilroy;
    box-sizing: border-box;
}
html,body {
width: 100%;
height: 100%;
}
#main {
    display: flex;
   width: 100%;
   height: 100%;
}

#left {
    position: relative;
    width: 40%;
    height: 100%;
}
#lnav {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
#lnav {
  display: flex;
  align-items: center;
}
#lnavr a {
   margin-right: 20px;
   text-decoration: none;
   color: #000;
   font-weight: 500;
   font-size: 14px;

}
#lnavr i {
    color: royalblue;
}
#left #textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1 {
 font-size: 90px;
 font-weight: 900;
}
#textcenter p {
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}
 #right {
    width: 60%; 
    height: 100%;
    background-color: white;
} 
#r-top {
    display: flex;
   width: 100%;
   height: 50%;
   background-color: royalblue;
}
#r-bottom {
    width: 100%;
    height: 50%;
    background-image: url(https://media.istockphoto.com/id/1909173950/photo/woman-enjoying-the-scent-of-fresh-oranges.jpg?s=1024x1024&w=is&k=20&c=cac6Bn2QqGJxv8jC_cPTw-Owaso65U45AZGROObw8U4=);
}
#righttop-left {
    width: 55%;
    height: 100%;
    background-image: url(https://media.istockphoto.com/id/1765851407/photo/citrus-fruit-in-a-wooden-plate.jpg?s=1024x1024&w=is&k=20&c=4wh8TGhSnUP4c0JXsC2Yb-6CJ5e39qqjPTIRlflNq8k=);
     background-size: cover;
     background-position:center;
      
}
#right-top-right {
    width: 45%;
    height: 100%;
   background-image: url(https://plus.unsplash.com/premium_photo-1675667408018-3b64dbc55db1?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   background-position: bottom;
}
@media(max-width: 500px){
    #main {
flex-direction: column;
 }
 #main #left {
    width: 100%;
 }
 #main #right {
    width: 100%;
 }
}